.search-form-wrapper {
    width: 80%;
    height: 50px;
    margin: auto;
}

.search-form {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
